/* Root - background */
.root {
    -fx-background-image: url("images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

/* Titoli pannelli */
.title-choice, .title-login {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

/* SceltaLogin.fxml - Bottone paziente */
.button-patient-choice {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #D9D9D9;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.button-patient-choice:hover, .button-doctor-choice:hover {
    -fx-background-color: grey;
}

/* SceltaLogin.fxml - Bottone dottore */
.button-doctor-choice {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #D9D9D9;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

/* Paziente/DottoreLogin.fxml - Label credenziali */
.username-label, .password-label {
    -fx-font-weight: bold;
}

/* Paziente/DottoreLogin.fxml - Input credenziali */
.username-field, .password-field {
    -fx-background-color: #D9D9D9;
}

/* Paziente/DottoreLogin.fxml - Bottone indietro */
.back-button {
    -fx-border-radius: 20;
    -fx-background-color: #D9D9D9;
    -fx-cursor: hand;
}

.logout-button{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #f16b6b;
    -fx-cursor: hand;
}

/* Paziente/DottoreLogin.fxml - Bottone login */
.login-button, .send-button {
    -fx-border-radius: 20;
    -fx-background-color: #b2f57a;
    -fx-cursor: hand;
}

.back-button:hover, .logout-button:hover {
    -fx-background-color: #a1a1a1;
}

.login-button:hover, .send-button:hover {
    -fx-background-color: #46db5f;
}

.titled-pane-lista{
    -fx-background-image: url("images/background.jpg");
}

#title{
    -fx-background-color:  #5bbaa6;
    -fx-text-alignment: center;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill:white;
}

#faketextfield1 {
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:white;
}

#pazientiBottone{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #D9D9D9;
    -fx-cursor: hand;
}

.patient-details-text-field {
    -fx-background-color: #D9D9D9;
    -fx-prompt-text-fill: #838485;
}

.patient-details-text-area {
    -fx-background-color: #D9D9D9;
    -fx-control-inner-background: #D9D9D9;
}

.today-date {
    -fx-background-color: #64cad1;
    -fx-padding: 5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}